
/**
Coursework
**/

table.submissions,
table.deadlines,
table.allocations,
table.grading-details,
table.moderating-details,
table.personal-deadline-details{
    width: 100%;
    border-collapse: collapse;
	margin-bottom: 1em;
}
table.submissions td,
table.deadlines td,
table.allocations td,
table.personal_deadline td,
table.grading-details td,
table.moderating-details td,
table.personal-deadline-details td,
table.submissions th,
table.deadlines th,
table.allocations th,
table.personal_deadline th,
table.grading-details th,
table.moderating-details th,
table.personal-deadline-details th{
    padding: 1em;
}
table.submissions th,
table.allocations th,
table.personal_deadline th,
table.grading-details th,
table.moderating-details th,
table.personal-deadline-details th{
    background: #e5eef6 !important;
}

/**
Deadline table
**/
table.deadlines th{
    background: transparent !important;
    width: 40%;
    font-weight:normal;
    vertical-align: top;
}
table.deadlines tbody tr:nth-of-type(odd){
    background: #f9f9f9;
}
table.deadlines tr:last-of-type{
    border-bottom: 1px solid #ddd;
}
table.deadlines td,
table.deadlines th{
     border-top: 1px solid #ddd;
}
table.deadlines .autofinalise_info{
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    color: #c09853;
    min-width: 220px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin: .6em 0 0 0;
}
/**
Submissions tables
**/

.jumpmenu {
    float:right;
}
.jumpmenu label {
    font-weight: bold;
    display:inline;
    padding-right: 10px;
}
.paging{
    text-align:center;
}
#page-mod-coursework-view .urlselect div{
    float:left;
}
#page-mod-coursework-view .urlselect div label{
    display:inline;
    font-weight: bold;
    padding-right:.5em;
}
table.submissions th{
     border: 3px solid #fff;
 }
table.submissions .provisionalgrade,
table.submissions .agreedgrade{
    width: 10%;
}
table.submissions tr.submissionrowmulti{
    border-bottom: 3px solid #fff;
}
/** Alternate table row for single submission **/
table.submissions tr.submissionrowsingle:nth-child(2n+1),
table.allocations tr:nth-child(2n+1),
table.personal_deadline tr:nth-child(2n+1){
    background: #ededed;
}
table.submissions tr.submissionrowsingle:nth-child(2n),
table.allocations tr:nth-child(2n),
table.personal_deadline tr:nth-child(2n){
    background: #d9d9d9;
}

/** Alternate table row for submissions with multiple assessors **/

table.submissions tr:nth-of-type(4n) {
    background: #d9d9d9;
}
table.submissions tr:nth-of-type(4n-1) {
    background: #d9d9d9;
}
table.submissions tr{
	background: #ededed;
}

/**Submission tables with allocated assessors tables**/

table.submissions td.assessors{
    vertical-align:right;
    padding-right: 0 !important;
    background:url([[pix:coursework|connector]]) no-repeat left top !important;
}
table.submissions td.assessors > table.assessors {
    border:none !important;
    width:70%;
    margin-left: 1%;
}
table.submissions td.assessors > table.assessors th{
    background: #fff !important;
    border-bottom: 1px solid #ddd;
}
table.submissions td.assessors > table.assessors td {
     border-top: 1px solid #ddd;
     text-align: left;
     vertical-align: top;
    background: #fff !important;
}

/*Icon buttons*/

.show-students-btn,
.hide-students-btn,
.new_submission,
.new_feedback,
.new_final_feedback,
.new_moderation,
.show_feedback,
.show_moderation,
.new_deadline_extension{
    padding:5px 5px 5px 25px;
    border: 1px solid #b3b3b3 ;
    border-radius: 4px;
    color: #333 !important;
    display:inline-block;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    white-space:nowrap;
}
.show-students-btn{
    background: #f3f3f3 url([[pix:coursework|show]]) no-repeat 5px center;
}
.hide-students-btn{
    background: #f3f3f3 url([[pix:coursework|hide]]) no-repeat 5px center;
}
.new_submission{
    background: #f3f3f3 url([[pix:coursework|submit]]) no-repeat 5px center;
}
.new_feedback{
    background: #f3f3f3 url([[pix:coursework|add-feedback]]) no-repeat 5px center;
}
.new_final_feedback{
     background: #f3f3f3 url([[pix:coursework|add-feedback]]) no-repeat 5px center;
}
.new_moderation{
    background: #f3f3f3 url([[pix:coursework|moderate]]) no-repeat 5px center;
}

.show_feedback{
    background: #f3f3f3 url([[pix:coursework|view]]) no-repeat 5px center;
}
.show_moderation{
    background: #f3f3f3 url([[pix:coursework|view]]) no-repeat 5px center;
}
.new_deadline_extension{
    background: #f3f3f3 url([[pix:coursework|new-deadline]]) no-repeat 5px center;
}
.show-students-btn:hover{
    background: #f3f3f3 url([[pix:coursework|show]]) no-repeat 5px center;
    text-decoration:none;
}
.hide-students-btn:hover{
    background: #f3f3f3 url([[pix:coursework|hide]]) no-repeat 5px center;
    text-decoration:none;
}
.new_submission:hover{
    background: #e6e6e6 url([[pix:coursework|submit]]) no-repeat 5px center;
    text-decoration:none;
}
.new_feedback:hover{
    background: #e6e6e6 url([[pix:coursework|add-feedback]]) no-repeat 5px center;
    text-decoration:none;
}
.new_final_feedback:hover{
    background: #e6e6e6 url([[pix:coursework|add-feedback]]) no-repeat 5px center;
    text-decoration:none;
}
.new_moderation:hover{
    background: #e6e6e6 url([[pix:coursework|moderate]]) no-repeat 5px center;
    text-decoration:none;
}
.show_feedback:hover{
    background: #e6e6e6 url([[pix:coursework|view]]) no-repeat 5px center;
    text-decoration:none;
}
.show_moderation:hover{
    background: #e6e6e6 url([[pix:coursework|view]]) no-repeat 5px center;
    text-decoration:none;
}
.new_deadline_extension:hover{
    background: #e6e6e6 url([[pix:coursework|new-deadline]]) no-repeat 5px center;
    text-decoration:none;
}

/* buttons */

.edit-btn{
    padding:7px 5px 7px 25px;
    border: 1px solid #ddd ;
    background: #f3f3f3 url([[pix:coursework|edit]]) no-repeat 5px center;
    color: #606060 !important;
}
a:hover .edit-btn,
 a:hover .download-btn {
     color: #fff !important;
     background: #222;
}
a.edit-btn,
a.download-btn {
    color: #222 !important;
}
.add-general_feedback-btn{
    padding:7px 5px 7px 30px;
    border: 1px solid #b3b3b3 ;
    border-radius: 4px;
    background: #f5f5f5 url([[pix:coursework|add-feedback]]) no-repeat 5px center;
    color: #333;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.add-general_feedback-btn:hover{
    background: #e6e6e6 url([[pix:coursework|add-feedback]]) no-repeat 5px center;
    text-decoration: none;
    color: #333;
}
#fitem_id_publishbutton{
    margin: 1em;
}
#fitem_id_publishbutton input[type="submit"]{
    background: #0070a8;
    color:#fff;
}

#id_displayallstudentbutton{
    margin: 2em;
}

/* Submission date TD  */

table.submissions .ontime_submission{
    padding: 0 0 .5em 0;
    display:block;
    text-transform:uppercase;
}
table.submissions .late_submission{
    padding: 0 0 .5em 0;
    display:block;
}
table.submissions .late_submission{
    color:#cc0000;
}
table.submissions .ontime_submission{
    color: #669900;
}

/* Allocation pages */

.assessor-allocation-wrapper,
.assessor-sampling-wrapper,
.moderator-allocation-wrapper {
    margin: 1em 0;
    padding: 0 ;
    /*min-height: 120px;*/
}
.assessor-allocation-wrapper h3,
.assessor-sampling-wrapper h3,
.moderator-allocation-wrapper h3 {
    background: url([[pix:coursework|collapsed]]) no-repeat left !important;
    padding: 0 0 0 20px;
    font-weight:normal;
    font-size: 1.3em;
    border-bottom: 1px solid #ddd;
}
.sampling-select,
.allocation-strategy{
    background: #f3f3f3;
    padding: 1em;
}
table.sampling tbody td:nth-of-type(odd),
 table.sampling thead th:nth-of-type(odd){
    background:#e5eef6;
    width: 33%;
}
table.sampling{
    background:#fff;
    margin-bottom: 1em;
 }
table.sampling h4{
    background:#999;
    color: #fff;
    font-size: 1em;
    padding: .5em ;
    margin-bottom:0;
}
table.sampling td.c0,
table.sampling td.c1,
table.sampling td.c2{
    vertical-align: top;
}
table.sampling td,
table.sampling th{
    padding: 1em;
}
.samples_strategy{
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    padding:.5em 0 0 0;
}
.samples_strategy label{
    display:inline;
    padding-right:.5em;
}
.assessor_2_grade_rules label,
.assessor_3_grade_rules label,
.sampletotal label{
    display:inline;
    padding: 0 .3em 0 .3em;
}
.assessor_2_grade_rules:nth-of-type(odd),
.assessor_3_grade_rules:nth-of-type(odd){
   background: #f3f3f3;
    padding: 1em 0 .5em .3em;
    border-bottom:1px solid #ddd;
}
.assessor_2_grade_rules:nth-of-type(even),
.assessor_3_grade_rules:nth-of-type(even){
    background: #ddd;
    padding: 1em 0 .5em .3em;
    border-bottom:1px solid #ddd;
}
.addgradderule,
.removegradderule{
    display:block;
    padding: .3em .3em .3em 1.3em;
    margin: .5em 0;
    border:1px solid #b3b3b3;
    border-radius: 4px;
    color: #333;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
.addgradderule {
    background: #f5f5f5 url([[pix:coursework|add]]) no-repeat .3em !important;
    float:left;
}
.removegradderule {
    background: #f5f5f5 url([[pix:coursework|delete]]) no-repeat .3em !important;
    float:right;
}
.sampletotal{
    display:inline-block;
    padding:  1em 0 .5em 0;
    background: #f3f3f3;
    width: 100%;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.sampletotal input[type="checkbox"]{
    margin-left: .5em !important;
}
table.allocations td,
table.personal_deadline td{
    vertical-align: top;
}

/* Set personal deadline page */

.largelink a {

    font-size: 15px;
    color: #333 !important;
    padding:5px 5px 5px 25px;
    border: 1px solid #b3b3b3 ;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background: #f3f3f3;
    display:inline-block;
    white-space:nowrap;
}

.largelink a:hover{
    text-decoration:none;
    background: #e6e6e6;
}

.return_to_page{
    margin: 15px 5px 20px 5px;
}

/* Student view - Feedback tables
Moderation table*/

table.feedback, table.moderation{
    width: 100%;
    margin-bottom: 1em;
}
table.feedback td,table.moderation td,
table.feedback th, table.moderation th{
    padding:1em;
}
table.feedback  th, table.moderation th{
    border-bottom:3px solid #ddd;
}
table.feedback tbody tr:nth-of-type(2n+1), table.moderation tbody tr:nth-of-type(2n+1){
    background: #f9f9f9 ;
}
table.feedback td.cleft, table.moderation td.cleft{
    width: 40%;
}
/*  Groupings */
.group{
    font-weight: bold;
}
.group_style {
    background: #fff url([[pix:coursework|arrow-down]]) no-repeat scroll 170px center ;
    border: 1px solid #ddd;
    height: 34px;
    overflow: hidden;
    width: 200px;
    margin: 5px 0;
}
.group_style select {
    background: transparent;
    border: 0 none;
    border-radius: 0;
    height: 34px;
    line-height: 1.2em;
    padding: 5px;
    width: 220px;
}
.group_style select option {
    padding:5px;
}
/*  Grading pages within OCM- rubric */

#page-mod-coursework-actions-feedbacks-edit .row-fluid .span9,
#page-mod-coursework-actions-feedbacks-new .row-fluid .span9
{
    width: 99.359% !important;
}
#page-mod-coursework-actions-feedbacks-edit .row-fluid .span4,
#page-mod-coursework-actions-feedbacks-new .row-fluid .span4{
    display:none
}
#page-mod-coursework-actions-feedbacks-edit .row-fluid .span8,
#page-mod-coursework-actions-feedbacks-new .row-fluid .span8{
    width:99.812% !important;
}
#page-mod-coursework-actions-feedbacks-edit .mform .fitem div.fitemtitle,
#page-mod-coursework-actions-feedbacks-new .mform .fitem div.fitemtitle{
    text-align:left;
    float:none;
}
#page-mod-coursework-actions-feedbacks-edit .mform label,
#page-mod-coursework-actions-feedbacks-new .mform label {
    display: block;
}
#page-mod-coursework-actions-feedbacks-edit .mform .felement,
#page-mod-coursework-actions-feedbacks-new .mform .felement{
    margin-left: 0 !important;
}
#page-mod-coursework-actions-feedbacks-edit .mform,
#page-mod-coursework-actions-feedbacks-new .mform{
    padding: 1em !important;
}
table.grading-details th, table.moderating-details th table.personal-deadline-details th,
table.grading-details td, table.moderating-details td, table.personal-deadline-details, td {
    border-bottom: 1px solid #fff;
    padding: .5em;
}
table.grading-details th, table.moderating-details th, table.personal-deadline-details th{
    background: #ccdfee !important;
    width: 150px;
}

/* settings page */

#courseworkmodformfeedback th{
    background: #f1f1f1;
    padding:1em;
}
#courseworkmodformfeedback td{
    padding: 1em;
}
#page-mod-coursework-mod #courseworkmodformfeedback .fitemtitle{
    width:auto !important;
}
#page-mod-coursework-mod #courseworkmodformfeedback .felement{
    margin-left:1em !important;
}


.plagiarism_tii_version{
    background-color: #F6CECE;
    border: 1px solid #cc0000;
    color:#cc0000;
    padding: 8px 35px 8px 14px;
}

#coursework_input_buttons {
    height:120px;
    text-align: center;
}

.coursework_assessor_allocation {
    vertical-align: middle;
    top: 50%;
}

.pininfo{
    padding: 4px 10px 10px 35px;
}