$font-family-sans-serif: "Hillhead", "Ubuntu", "Trebuchet MS", Arial, sans-serif;

$border-width: 1px;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-responsive-font-sizes: false !default;

$alert-border-width: 1px;

$hillhead-page-bg: #ebf1f5;
$hillhead-side-bg: #e1e6eb;
$hillhead-side-br: #d6dbdf;
$hillhead-card-br: #e1e6eb;

$hillhead-blue: #005398;
$hillhead-cobalt: #0075b0;
$hillhead-grey: #4f5961;
$hillhead-leaf: #00643d;
$hillhead-main: #003865;

$drawer-bg: $hillhead-side-bg;
$card-border-color: $hillhead-card-br;

$nav-tabs-border-color: $hillhead-card-br;
$nav-tabs-link-hover-border-color: $hillhead-card-br;

// Breadcrumbs
$breadcrumb-divider: "›";
$breadcrumb-divider-rtl: "‹";