<div style='margin-left:0px;margin-right:0px;' id='helixcontainer'>
    {{#canusemoduleinfo}}
        <core-course-module-info [module]="module" description="{{description}}" component="mod_helixmedia" componentId="{{cmid}}" [courseId]="courseId">
        </core-course-module-info>
    {{/canusemoduleinfo}}
    {{^canusemoduleinfo}}
        <core-course-module-description description="{{helixmedia.intro}}" component="mod_helixmedia" componentId="{{cmid}}"></core-course-module-description>
    {{/canusemoduleinfo}}
    <iframe allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" id="contentframe" height="{{height}}" width="100%" src="{{launchurl}}" style='margin-left:0px;margin-right:0px'></iframe>
</div>
