{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_test/manage

    Example context (json):
    { }
}}

<div class="tabcontent-header">
    {{#displayactivities}}
    <div class="selectdiv">
        <select id="select-activity">
            {{#activities}}
            <option {{selected}} value={{id}} >{{name}}</option>
            {{/activities}}
        </select>
    </div>
    {{/displayactivities}}
    {{#addallgrdstr}}<button class="btn btn-default btn-add-import" id="btn-saveadd">{{addallgrdstr}}</button>{{/addallgrdstr}}
    {{#importgradesstr}}<button class="btn btn-default btn-add-import" id="btn-import">{{importgradesstr}}</button>{{/importgradesstr}}
    {{#grddiscrepancystr}}<button class="btn grade-discrepancy" id="btn-grddisc">{{grddiscrepancystr}}</button>{{/grddiscrepancystr}}
    <button class="btn btn-default btn-download">{{downloadcsvstr}}</button>
</div>
