{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_test/manage

    Example context (json):
    { }
}}
<div class="container">
    <h4 class="title">{{title}}</h4>
    <button class="tablink active" id="btn-assessment">{{assessmenttabstr}}</button>
    <button class="tablink" id="btn-overview">{{overviewtabstr}}</button>
    <button class="btn btn-default btn-approve">{{approvebtnstr}}</button>
    <div class="tabcontent tab-1" style="d">
        <div class="tabcontent-header">
            <div class="selectdiv act-select">
                <select>
                    <option>Assignment 1: Critical essay</option>
                    {{#activities}}
                    <option>{{name}}</option>
                    {{/activities}}
                </select>
            </div>
            <button class="btn btn-default btn-add">{{addsavebtnstr}}</button>
            <button class="btn btn-default btn-download">Download .csv</button>
        </div>
        <div class="table-responsive">          
            <table class="table">
                <thead>
                    <tr>
                        <th>Candidate No.</th>
                        <th>Student No.</th>
                        <th>Surname</th>
                        <th>Forename</th>
                        <th>1st mark</th>
                        <th>2nd mark</th>
                        <th>Provisional grade</th>
                        <th>Add new grade for all participants</th>
                        <th>Reason for new grade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>101282</td>
                        <td>Austen</td>
                        <td>Jane</td>
                        <td>A1 <i class="fa fa-ellipsis-h"></i></td>
                        <td>A2 <i class="fa fa-ellipsis-h"></i></td>
                        <td><b>A2</b></td>
                        <td>
                            <div class="selectdiv">
                                <select>
                                    <option>Choose grade</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="selectdiv">
                                <select>
                                    <option>Select reason</option>
                                </select>
                            </div>
                        </td>
                        <td><button class="btn btn-default" id="btn-newgrade">Add Grade</button></td>
                    </tr> 
                    <tr>
                        <td>2</td>
                        <td>101283</td>
                        <td>Barrie</td>
                        <td>James</td>
                        <td>B3 <i class="fa fa-ellipsis-h"></i></td>
                        <td>A2 <i class="fa fa-ellipsis-h"></i></td>
                        <td><b>A2</b></td>
                        <td>
                            <div class="selectdiv">
                                <select>
                                    <option>Choose grade</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="selectdiv">
                                <select>
                                    <option>Select reason</option>
                                </select>
                            </div>
                        </td>
                        <td><button class="btn btn-default" id="btn-newgrade">Add Grade</button></td>
                    </tr> 
                    {{#students}}
                    <tr>
                        <td>{{id}}</td>
                        <td>101282</td>
                        <td>{{lastname}}</td>
                        <td>{{firstname}}</td>
                        <td>A1 <i class="fa fa-ellipsis-h"></i></td>
                        <td>A2 <i class="fa fa-ellipsis-h"></i></td>
                        <td><b>A2</b></td>
                        <td>
                            <div class="selectdiv">
                                <select>
                                    <option>Choose grade</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="selectdiv">
                                <select>
                                    <option>Select reason</option>
                                </select>
                            </div>
                        </td>
                        <td><button class="btn btn-default" id="btn-newgrade">Add Grade</button></td>
                    </tr>  
                    {{/students}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tabcontent tab-2">
        <div class="tabcontent-header">
            <button class="btn btn-default btn-download">Download .csv</button>
            <br/><br/>
        </div>
        <div class="table-responsive">          
            <table class="table">
                <thead>
                    <tr class="tr-header">
                        <th scope="col" class="th-font">
                            Candidate <br/>&nbsp;&nbsp;No.
                        </th>
                        <th scope="col" class="th-font">
                            Student <br/>&nbsp;No.
                        </th>
                        <th scope="col" class="th-font">
                            Surname
                            <br/><br/>
                        </th>
                        <th scope="col" class="th-font">
                            Forename
                            <br/><br/>
                        </th>
                        <th scope="col" class="th-font">
                            Assignment 1:<br/>Critical Essay
                        </th>
                        <th scope="col" class="th-font">
                            Assignment 2: <br>Quiz
                        </th>
                        <th scope="col" class="th-font">
                            Exam 1
                            <br/><br/>
                        </th>
                        <th scope="col" class="th-font">
                            Exam 2
                            <br/><br/>
                        </th>
                        <th scope="col" class="th-font">
                            <span class="th-aggregate-grade">
                                Aggregate Grade &nbsp;&nbsp;
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </span>
                            <br/><br/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#students}}
                    <tr>
                        <td>{{id}}</th>
                        <td>{{id}}</td>
                        <td>{{surname}}</td>
                        <td>{{forename}}</td>
                        <td>{{assignment1}}
                            <i class="fa fa-ellipsis-h ellipsis-h-color" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Ammend Grades</a>
                                <a class="dropdown-item" href="#">Historical Ammendments</a>
                            </div>
                        </td>
                        <td>{{assignment2}} 
                            <i class="fa fa-ellipsis-h ellipsis-h-color" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        </td>
                        <td>{{exam1}} 
                            <i class="fa fa-ellipsis-h ellipsis-h-color" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        </td>
                        <td>{{exam2}}
                            <i class="fa fa-ellipsis-h ellipsis-h-color" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        </td>
                        <td class="td-9">
                            <span class="td-9-aggregate-grade">
                                {{aggregate_grade}} 
                                <i class="fa fa-ellipsis-h ellipsis-h-color" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Ammend Grades</a>
                                    <a class="dropdown-item" href="#">Historical Ammendments</a>
                                </div>
                            </span>
                        </td>
                    </tr>
                    {{/students}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{#js}}
    $(function(){
        $("#btn-newgrade").click(function(){
            window.location.href='addgradeform.php';
        });
        $("#btn-assessment").click(function(){
            $("#btn-overview").removeClass("active");
            $(".tab-2").fadeOut();

            $(".btn-approve").show();

            $(this).addClass("active");
            $(".tab-1").fadeIn();
        });

        $("#btn-overview").click(function(){
            $("#btn-assessment").removeClass("active");
            $(".tab-1").fadeOut();
            
            $(".tab-2").css({
                "display": "block"
            });
            
            $(".btn-approve").hide();

            $(this).addClass("active");
            $(".tab-2").fadeIn();
        });
    });
{{/js}}



