{{< core/modal }}
        {{$title}}{{/title}}
        {{$body}}
            {{{bodycontent}}}
        {{/body}}
        {{$footer}}
            <button type="button" class="btn btn-default btn-modal-cancel" data-action="cancel">
                {{{strcancel}}}
            </button>
            <button type="button" class="btn btn-default btn-release" data-action="{{dataaction}}">
                {{{strconfirm}}}
            </button>
        {{/footer}}
{{/ core/modal }}