
<div id="{{elementid}}_{{innerform}}" class="mdl-align">
<h4 class="tiny_generico_widget_instructions">{{name}}</h4>
<div class="tiny_generico_widget_instructions">{{instructions}}</div>
</div>

<form class="tiny_generico_form" id="{{uniqid}}_tiny_generico_form">
    <div class="root tab-content">
        {{#variables}}
        <div><label for="{{key}}" class="tiny_generico_widgetoptionlabel">{{displayname}}</label>
            {{#isarray}}
                    <select data-type="{{key}}" name="{{key}}" id="{{key}}" class="tiny_generico_templatevariable_{{templateindex}} tiny_generico_widget_field">
                        {{#default}}
                        <option value="{{.}}">{{.}}</option>
                        {{/default}}
                    </select>
            {{/isarray}}
            {{^isarray}}
                <input type="text" data-type="{{key}}" name="{{key}}" id="{{key}}" class="tiny_generico_templatevariable_{{templateindex}} tiny_generico_widget_field" value="{{default}}"></input>
            {{/isarray}}
        </div>
        {{/variables}}
    </div>
    <div class="tiny_generico_widgetoptionsbuttons_cont">
        <button type="button" data-templateindex="{{templateindex}}" class="btn btn-secondary tiny_generico_widgetcancelledbutton" data-action="insert">{{#str}} back, tiny_generico  {{/str}}</button>
        <button type="button" data-templateindex="{{templateindex}}" class="btn btn-primary tiny_generico_widgetinsertbutton" data-action="insert">{{#str}} insert, tiny_generico {{/str}}</button>
    </div>

</form>