{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_gu_spoverview/spoverview

    This template renders the content of the UofG Assessments Overview block.
}}
<div class="assessments-overview">
    <div class="row">
        <div class="assessment-item assessment-submitted col-md-3 col-sm-6 col-xs-12">
            <img src="{{assess_submitted_icon}}" alt="{{assess_submitted_str}}" class="assessment-item-icon"/>
            <h4 class="assessment-item-count color-primary">{{assess_submitted_count}}</h4>
            <h5 class="assessment-item-label color-primary">{{assess_submitted_str}}</h5>
        </div>
        <div class="assessment-item assessment-tosubmit col-md-3 col-sm-6 col-xs-12">
            <img src="{{assess_tosubmit_icon}}" alt="{{assess_tosubmit_str}}" class="assessment-item-icon"/>
            <h4 class="assessment-item-count color-primary">{{assess_tosubmit_count}}</h4>
            <h5 class="assessment-item-label color-primary">{{assess_tosubmit_str}}</h5>
        </div>
        <div class="assessment-item assessment-overdue col-md-3 col-sm-6 col-xs-12">
            <img src="{{assess_overdue_icon}}" alt="{{assess_overdue_str}}" class="assessment-item-icon"/>
            <h4 class="assessment-item-count color-primary">{{assess_overdue_count}}</h4>
            <h5 class="assessment-item-label color-primary">{{assess_overdue_str}}</h5>
        </div>
        <div class="assessment-item assessment-marked col-md-3 col-sm-6 col-xs-12">
            <img src="{{assess_marked_icon}}" alt="{{assess_marked_str}}" class="assessment-item-icon"/>
            <h4 class="assessment-item-count color-primary">{{assess_marked_count}}</h4>
            <h5 class="assessment-item-label color-primary">{{assess_marked_str}}</h5>
        </div>
    </div>
</div>
