/** Tabs **/
.assessments-details-container .nav-tabs {
    border-bottom: none;
}

.assessments-details-container .nav-tabs .nav-item {
    margin-right: 0.5rem;
}

.assessments-details-container .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid #eee;
    color: #99a;
    cursor: pointer;
}

.assessments-details-container .nav-tabs .nav-link:hover,
.assessments-details-container .nav-tabs .nav-link:focus {
    border: none;
    border-bottom: 2px solid #058;
    color: #058;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

/** Table **/
.assessments-table.table th,
.assessments-table.table td {
    border: none;
}

.assessments-table.table th {
    vertical-align: middle;
}

/** Table columns **/
.assessments-table .td20 {
    width: 20%;
}

.assessments-table .td15 {
    width: 15%;
}

.assessments-table .td10 {
    width: 10%;
}

.assessments-table .td05 {
    width: 5%;
}

/** Table span **/
.assessments-table .extended {
    color: #b00;
    cursor: pointer;
    font-weight: 600;
    margin-left: -3px;
}

.assessments-table .extended-tooltip {
    background-color: #ebf1f5;
    border: 1px solid #555;
    border-radius: 3px;
    color: #555;
    font-weight: normal;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    z-index: 1;
}

.assessments-table .extended:hover .extended-tooltip {
    visibility: visible;
}

.assessments-table .graded {
    color: #183;
    font-weight: 600;
}

/** Status **/
.status-link,
.status-link:hover {
    text-decoration: none;
}

.status-link:hover .status-item {
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.status-item {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #ccc;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 12px;
}

.status-submitted,
.status-graded {
    border-color: #183;
    color: #183;
}

.status-submit {
    background-color: #183;
    border-color: #183;
    color: #fff;
    opacity: 1;
}

.status-overdue {
    border-color: #b00;
    color: #b00;
}

.status-link .status-overdue {
    background-color: #b00;
    border-color: #b00;
    color: #fff;
}

/** Pagination **/
.assessments-details-container .nav-tabs .nav-item .nav-link.active {
    border: none;
    border-bottom: 2px solid #058;
    color: #058;
    font-weight: 600;
}

.assessments-details-container .tab-content .pagination .page-item.active {
    pointer-events: none;
}