.assessments-table {
    color: #555555;
    font-size: 1rem;
    line-height: 14.95px;
}

.assessments-table thead th,
.assessments-table tbody td {
    padding: 7.5px;
    vertical-align: middle;
}

.table.assessments-table thead th {
    border-color: transparent;
    color: #777;
    font-size: 1rem;
    line-height: 16.82px;
}

.assessments-table tbody td {
    color: #555;
}

.assessments-table tbody td a {
    color: #058;
    text-decoration: underline;
}

.assessments-table tbody td a:hover {
    color: #058;
    text-decoration: underline;
}

.status-link,
.status-link:hover {
    text-decoration: none;
}

.status-link:hover .status-item {
    opacity: 0.9;
    transition: opacity 0.3s ease; 
}

.status-item {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #ccc;
    display: inline-block;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 12px;
}

.status-submitted,
.status-graded {
    border-color: #183;
    color: #183;
}

.status-contribute,
.status-submit {
    background-color: #183;
    border-color: #183;
    color: #fff;
    opacity: 1;
}

.status-overdue {
    border-color: #b00;
    color: #b00;
}

.status-overduelinked {
    background-color: #b00;
    border-color: #b00;
    color: #fff;
}

.assessments-img-empty {
    width: 65px;
    height: 65px;
}

.assessments-text-empty {
    color: #677;
    margin: 1rem 0;
}

.extended {
    color: #b00;
    font-weight: 600;
}

.graded {
    color: #183;
    font-weight: 600;
}

.hidden {
    display: none;
}

.td20 {
    width: 20%;
}

.td15 {
    width: 15%;
}

.td10 {
    width: 10%;
}

.td05 {
    width: 5%;
}

.assessments-th-sortable {
    cursor: pointer;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.assessments-details-sort {
    padding: 0 7.5px;
}

.assessments-details-sort-label {
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 700;
}

.assessments-details-sort-select {
    border-color: #677;
    border-radius: 8px;
    color: #677;
    font-size: 1.1rem;
    margin-left: 15px;
    padding: 10px;
}
