.navbar {
    background-image: none;
    background-color: @brand-primary;
    height: 80px;
}

#logo {
    background-image: url([[pix:theme|logo]]);
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
}
