{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_gu_spdetails/spdetails
}}
<p class="gu_spdetails_title">{{title}}</p>
<div class="gu_spdetails_box">
    <div class="gu_spdetails_col">
        <div class="gu_spdetails_tab_active"><p>{{currentenrolled}}</p></div>
        <div class="gu_spdetails_tab_inactive"><p>{{pastcourse}}</p></div>
    </div>
    <label class="mdb-main-label">{{sortby}}</label>
    <select class="mdb-select md-form">
        {{#sortbyoptions}}
            <option value="{{value}}">{{text}}</option>
        {{/sortbyoptions}}
    </select>
    <table style="width: 100%">
        <tr>
            <th>{{courselbl}}</th>
            <th>{{assessmentlbl}}</th>
            <th>{{weightlbl}}</th>
            <th>{{duedatelbl}}</th>
            <th>{{statuslbl}}</th>
            <th>{{gradelbl}}</th>
            <th>{{feedbacklbl}}</th>
        </tr>
        {{#data}}
        <tr>
            <td class="gu_spdetails_table_value_link"><a href="{{courselink}}">{{fullname}}</a></td>
            <td class="gu_spdetails_table_value_link"><a href="{{activitylink}}">{{itemname}}</a></td>
            <td>{{formatted.weight}}%</td>
            <td>{{formatted.duedate}}</td>
                {{#formatted.statuslink}}
                    <td class="gu_spdetails_table_value_link"><a href="{{formatted.statuslink}}">{{formatted.status}}</a></td>
                {{/formatted.statuslink}}
                {{^formatted.statuslink}}
                    <td>{{formatted.status}}</td>
                {{/formatted.statuslink}}
            <td>{{formatted.finalgrade}}</td>
            <td>{{feedback}}</td>
        </tr>
        {{/data}}
    </table>
</div>