{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_gu_spdetails/spdetails
}}
<div class="assessments-details-container">
    <ul id="assessments_details_tabs" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a id="current_tab" class="nav-link h5" data-toggle="tab" role="tab"
               aria-controls="current" aria-selected="true">
                {{tab_current}}
            </a>
        </li>
        <li class="nav-item">
            <a id="past_tab" class="nav-link h5" data-toggle="tab" role="tab"
               aria-controls="past" aria-selected="false">
                {{tab_past}}
            </a>
        </li>
    </ul>
    <div id="assessments_details_contents" class="tab-content"></div>
</div>
