{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_gu_spdetails/spdetails
}}
{{#hasassessments}}
    <blockquote class="hidden-element">{{assessments}}</blockquote>
    <div class="assessments-details-container table-responsive">
        <div class="assessments-table-tab-container">
            <div id="gu_spdetails_current_tab" class="assessments-table-tab selected-element">
                <a onclick="toggleTableShow('block_spdetails_table')">{{currentenroll}}</a>
            </div>
            <div id="gu_spdetails_past_tab" class="assessments-table-tab">
                <a onclick="toggleTableShow('block_spdetails_table_past_history')">{{pastenroll}}</a>
            </div>
        </div>
        <div class="assessments-details-sort">
            <label class="assessments-details-sort-label">{{sort}}
                <select id="gu_spdetails_select_sort" class="assessments-details-sort-select" oninput="sortTable(parseInt(this.value), true)">
                    <option value="0">{{sort_course}}</option>
                    <option value="4">{{sort_date}}</option>
                </select>
            </label>
        </div>
        <table class="table assessments-table" id="block_spdetails_table">
            <thead>
                <tr>
                    <th class="td20 assessments-th-sortable" scope="col" onclick="sortByCourse(this)"
                        id="gu_spdetails_tableheader_course">
                        {{header_course}}
                        <img src="{{downarrow_img}}">
                    </th>
                    <th class="td20" scope="col">{{header_assessment}}</th>
                    <th class="td10" scope="col">{{header_type}}</th>
                    <th class="td05" scope="col">{{header_weight}}</th>
                    <th class="td10 assessments-th-sortable" scope="col" onclick="sortByDate(this)"
                        id="gu_spdetails_tableheader_duedate">
                        {{header_duedate}}
                        <img src="{{downarrow_img}}">
                    </th>
                    <th class="td15" scope="col">{{header_status}}</th>
                    <th class="td10" scope="col">{{header_grade}}</th>
                    <th class="td10" scope="col">{{header_feedback}}</th>
                </tr>
            </thead>
            <tbody>
                {{#data}}
                    <tr>
                        <td class="td20">
                            <a href="{{courseurl}}">
                                {{coursetitle}}
                            </a>
                        </td>
                        <td class="td20">
                            <a href="{{assessmenturl}}">
                                {{name}}
                            </a>
                        </td>
                        <td class="td10">
                            {{assessmenttype}}
                        </td>
                        <td class="td05">
                            {{weight}}
                        </td>
                        <td class="hidden-element">
                            {{dates.duedate}}
                        </td>
                        <td class="td10">
                            {{#dates.isdueextended}}
                                {{dates.formattedduedate}}<span class="extended">*</span>
                            {{/dates.isdueextended}}
                            {{^dates.isdueextended}}
                                {{dates.formattedduedate}}
                            {{/dates.isdueextended}}
                        </td>
                        <td class="td15">
                            {{#status.hasurl}}
                                <a href="{{assessmenturl}}" class="status-link">
                                    <span class="status-item status-{{status.suffix}}">{{status.text}}</span>
                                </a>
                            {{/status.hasurl}}
                            {{^status.hasurl}}
                                <span class="status-item status-{{status.suffix}}">{{status.text}}</span>
                            {{/status.hasurl}}
                        </td>
                        <td class="td10">
                            {{#gradingduedate.hasgrade}}
                                <span class="graded">{{gradingduedate.gradetext}}</span>
                                {{#isprovisional}}
                                    {{provisionaltext}}
                                {{/isprovisional}}
                            {{/gradingduedate.hasgrade}}
                            {{^gradingduedate.hasgrade}}
                                {{gradingduedate.gradetext}}
                            {{/gradingduedate.hasgrade}}
                        </td>
                        <td class="td10">
                            {{#feedbackduedate.hasfeedback}}
                                <a href="{{feedbackurl}}">
                                    {{feedbackduedate.feedbacktext}}
                                </a>
                            {{/feedbackduedate.hasfeedback}}
                            {{^feedbackduedate.hasfeedback}}
                                {{feedbackduedate.feedbacktext}}
                            {{/feedbackduedate.hasfeedback}}
                        </td>
                    </tr>
                {{/data}}
            </tbody>
        </table>
        <table class="table assessments-table hidden-element" id="block_spdetails_table_past_history">
            <thead>
                <tr>
                    <th class="td20 assessments-th-sortable" scope="col" onclick="sortByCourse(this, '_past_history')"
                        id="gu_spdetails_tableheader_course_past_history">
                        {{header_course}}
                        <img src="{{downarrow_img}}">
                    </th>
                    <th class="td20" scope="col">{{header_assessment}}</th>
                    <th class="td10" scope="col">{{header_type}}</th>
                    <th class="td05" scope="col">{{header_weight}}</th>
                    <th class="td10 assessments-th-sortable" scope="col" onclick="sortByPastCourseDate(this, true)"
                        id="gu_spdetails_tableheader_startdate_past_history">
                        Course Start Date
                        <img src="{{downarrow_img}}">
                    </th>
                    <th class="td10 assessments-th-sortable" scope="col" onclick="sortByPastCourseDate(this, false)"
                        id="gu_spdetails_tableheader_enddate_past_history">
                        Course End Date
                        <img src="{{downarrow_img}}">
                    </th>
                    <th class="td15" scope="col">Submission</th>
                    <th class="td10" scope="col">{{header_grade}}</th>
                    <th class="td10" scope="col">{{header_feedback}}</th>
                </tr>
            </thead>
            <tbody>
                {{#pastdata}}
                    <tr>
                        <td class="td20">
                            <a href="{{courseurl}}">
                                {{coursetitle}}
                            </a>
                        </td>
                        <td class="td20">
                            <a href="{{assessmenturl}}">
                                {{name}}
                            </a>
                        </td>
                        <td class="td10">
                            {{assessmenttype}}
                        </td>
                        <td class="td05">
                            {{weight}}
                        </td>
                        <td class="hidden-element">
                            {{academicyear}}
                        </td>
                        <td class="td10">
                            {{startdate}}
                        </td>
                        <td class="td10">
                            {{enddate}}
                        </td>
                        <td class="td15">
                            <a href ="{{assessmenturl}}">{{view_submission}}</a>
                        </td>
                        <td class="td10">
                            {{#gradingduedate.hasgrade}}
                                <span class="graded">{{gradingduedate.gradetext}}</span>
                                {{#isprovisional}}
                                    {{provisionaltext}}
                                {{/isprovisional}}
                            {{/gradingduedate.hasgrade}}
                            {{^gradingduedate.hasgrade}}
                                {{gradingduedate.gradetext}}
                            {{/gradingduedate.hasgrade}}
                        </td>
                        <td class="td10">
                            {{#feedbackduedate.hasfeedback}}
                                <a href="{{feedbackurl}}">
                                    {{feedbackduedate.feedbacktext}}
                                </a>
                            {{/feedbackduedate.hasfeedback}}
                            {{^feedbackduedate.hasfeedback}}
                                {{feedbackduedate.feedbacktext}}
                            {{/feedbackduedate.hasfeedback}}
                        </td>
                    </tr>
                {{/pastdata}}
            </tbody>
        </table>
    </div>
{{/hasassessments}}
{{^hasassessments}}
    <div class="assessments-details-container assessments-details-empty text-center mx-auto">
        <img src="{{noassessments_img}}" alt="{{noassessments}}" class="assessments-img-empty">
        <p class="assessments-text-empty">{{noassessments}}</p>
    </div>
{{/hasassessments}}
