/** Tabs **/
.assessments-details-container .nav-tabs {
    border-bottom: none;
}

.assessments-details-container .nav-tabs .nav-item {
    margin-right: 0.5rem;
}

.assessments-details-container .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid #eee;
    color: #99a;
    cursor: pointer;
}

.assessments-details-container .nav-tabs .nav-link:hover,
.assessments-details-container .nav-tabs .nav-link:focus {
    border: none;
    border-bottom: 2px solid #058;
    color: #058;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

/** Sort field **/
.assessments-details-sort-container {
    margin: 0.5em 0;
}

.assessments-details-container select {
    border-radius: 8px;
    height: 42px;
    padding: 10px;
    width: 136px;
}

.assessments-details-sort-label {
    display: inline;
    font-weight: 600;
    margin: 0 1em 0 0.5em;
    vertical-align: middle;
}

/** Table **/
.assessments-details-table.table th,
.assessments-details-table.table td {
    border: none;
}

.assessments-details-table.table th {
    vertical-align: middle;
}

/** Table columns **/
.assessments-details-table .td20 {
    width: 20%;
}

.assessments-details-table .td15 {
    width: 15%;
}

.assessments-details-table .td10 {
    width: 10%;
}

.assessments-details-table .td05 {
    width: 5%;
}

/** Table columns sortable **/
.assessments-details-table .th-sortable {
    cursor: pointer;
}

.assessments-details-table .th-sortable::after {
    content: '▸';
    font-size: 1.2em;
}

.assessments-details-table .th-sort-asc::after {
    content: '▾';
}

.assessments-details-table .th-sort-desc::after {
    content: '▴';
}

/** Table span **/
.assessments-details-table .extended {
    color: #b00;
    cursor: pointer;
    font-weight: 600;
}

.assessments-details-table .extended-tooltip {
    background-color: #ebf1f5;
    border: 1px solid #555;
    border-radius: 3px;
    color: #555;
    font-weight: normal;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    z-index: 1;
}

.assessments-details-table .extended:hover .extended-tooltip {
    visibility: visible;
}

.assessments-details-table .graded {
    color: #183;
    font-weight: 600;
}

/** Status **/
.status-link,
.status-link:hover {
    text-decoration: none;
}

.status-link:hover .status-item {
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.status-item {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #ccc;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 3px 12px;
}

.status-submitted,
.status-graded {
    border-color: #183;
    color: #183;
}

.status-submit {
    background-color: #183;
    border-color: #183;
    color: #fff;
}

.status-overdue {
    background-color: #b00;
    border-color: #b00;
    color: #fff;
}

/** Pagination **/
.assessments-details-container .nav-tabs .nav-item .nav-link.active {
    border: none;
    border-bottom: 2px solid #058;
    color: #058;
    font-weight: 600;
}

.assessments-details-container .tab-content .pagination .page-item.active {
    pointer-events: none;
}

.subcategory-details-container {
    display: flex;
    flex-flow: row;
    flex-basis: auto;
    width: 100%;
    font-size: 18px;
    flex-wrap: wrap;
}

.subcategory-details-container > div {
    min-width: 180px;
    margin: 5px 10px;
    flex-grow: 1;
}

.subcategory-details-label {
    color: #005C8A;
    font-weight: bold;
}

.subcategory-details-value {
    color: #505057;
    font-weight: bold;
}

.subcategory-details-grade-value {
    color: #006630;
    font-weight: bold;
}

.return-assessments-container {
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
    width: fit-content;
}

.return-assessments-img-container {
    margin-right: 10px;
}

.return-assessments-text{
    color: #058;
    font-weight: 600;
    font-size: 1.125rem;
}

.hidden-container{
    display: none;
}

.assessments-overview-container .assessments-item {
    text-align: center;
}

.assessments-overview-container .assessments-item-icon {
    margin: 10px 0;
}

.assessments-overview-container .assessments-item-count {
    color: #058;
    font-weight: 600;
    margin-bottom: 8px;
}

.assessments-overview-container .assessments-item-label {
    color: #058;
}
