$hillhead-blue: #005398;

#page {
    padding: 0 $card-spacer-x;
}

nav.navbar.fixed-top {
    background-color: $hillhead-blue;
}

nav.navbar .popover-region {
    margin-right: 20px;
}

nav.navbar .popover-region-toggle {
    width: auto;
}

nav.navbar .nav-item .nav-link > i.icon {
    font-size: 24px;
    line-height: 35px;
    height: auto;
}

nav.navbar-expand .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
}

nav.navbar .usertext {
    display: none;
}

nav.navbar button.btn {
    margin-right: 0;
    color: $hillhead-page-bg;
    background: $hillhead-main;
    border: none;
    padding: 6px 10px;
}

nav.navbar a.navbar-brand {
    background-image: url([[pix:theme|gu-logo-retina]]);
    background-size: 111px 35px;
    background-repeat: no-repeat;
    width: 111px;
    height: 35px;
}

nav.navbar a.navbar-brand span {
    display: none !important;
}

nav.navbar img.userpicture {
    margin-right: 0;
}

nav.navbar .dropdown > a {
    color: $hillhead-page-bg;
}

#nav-drawer {
    border-right: 1px solid #d6dbdf;
}

#nav-drawer h2 {
    font-size: 0.8em;
    color: #577492;
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

#nav-drawer ul {
    margin-bottom: 20px;
    list-style: none;
    padding-left: 0;
}

#nav-drawer ul li {
    font-weight: 300;
    margin-bottom: 3px;
}

#nav-drawer ul li a {
    color: #384B5E;
    text-decoration: none;
}

#nav-drawer ul li .media-left i {
    width: 1.7em;
    margin-right: 0.3em;
}

#region-main {
    background-color: #fff;
}

#page-content.not-card .region-main {
    background: transparent;
    border: none;
    padding: 0;
}

.block-header {
    padding: 7px 20px;
    border-bottom: 1px solid $hillhead-card-br;
}

.block-body {
    padding: 20px;
}

.block-body .card-body {
    padding: 0;
}

body.format-topics #region-main {
    background: transparent;
    border: none;
    padding: 0;
}

body.format-topics .course-content ul.topics li.section {
    border: 1px solid $hillhead-card-br;
    background-color: #fff;
    padding-bottom: 0;
}

body.format-topics ul.topics li.section .sectionname {
    padding: 7px 20px;
    border-bottom: 1px solid $hillhead-card-br;
}

.course-content ul.topics li.section .left, .course-content ul.topics li.section .right {
    padding: 5px 20px;
}