{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_massaction/deletionconfirm
    Show when modules are requested for deletion.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    * modules, modulename, moduletype
    Example context (json):
    {
        "modules": {
            "modulename": "Test",
            "moduletype": "assign"
        }      
    }
}}
<h4>
    {{#str}} deletecheckconfirm, block_massaction {{/str}}
</h4>

<div class="table-responsive">
    <table id="block-massaction-module-list" class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="block_massaction_module_list_first_column">{{#str}} modulename, block_massaction {{/str}}</th>
                <th class="block_massaction_module_list_second_column">{{#str}} moduletype, block_massaction {{/str}}</th>
            </tr>
        </thead>
        <tbody>
        {{#modules}}
            <tr>
                <td>{{modulename}}</td>
                <td>{{moduletype}}</td>
            </tr>
        {{/modules}}
        </tbody>
    </table>
</div>
