.block-course-overview .courseovbox {
    border-bottom: 1px solid #d3d8dc;
    padding-top: 12px;
}

.overview-icon .icon {
    height: 25px;
    width: 25px;
}


.course-overview-dialog {
    display: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d3d8dc;
    z-index: 9999 !important;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.5);
}

.course-overview-dialog .ui-dialog-titlebar-close {
    border: 0;
}

.course-overview-dialog .ui-dialog-titlebar-close:after {
    position: absolute;
    font-family: FontAwesome;
    font-size: 2.0em;
    top:8px;
    right:8px;
    content: "\f00d ";
}

.dialogue h3 {
    font-size: 1.5rem;
}

a.favourite_icon:hover {
    text-decoration: none;
}

.block-course-overview .overview-help {
    margin-top: 10px;
}

.block-course-overview .overview-help i {
    font-size: 1.5em;
}

div.courseovbox {
    margin-left: -15px !important;
}
