.block-course-overview .courseovbox {
    border-bottom: 1px solid #d3d8dc;
    padding-top: 12px;
    height: 52px;
}

.block-course-overview .courseovbox h2 {
    margin-bottom: 0;
}

.block-course-overview .ovcategories {
    padding-left: 42px;
}

.block-course-overview .course-list {
    border-top: 1px solid #d3d8dc;
}

.overview-icon {
    height: 40px;
    width: 40px;
    float: right;
    margin-bottom: 5px;
    margin-left: 15px;
}

.overview-icon > img {
    height: 36px;
    width: 36px;
}

.activity_overviews  a {
    color: #0075b0;
}

.activity_overviews > .overview {
    margin-bottom: 15px;
}

.activity_overviews > .overview > .name {
    font-weight: bold;
}

.course-overview-dialog {
    display: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d3d8dc;
    z-index: 9999 !important;
    box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.5);
}

.course-overview-dialog .ui-dialog-titlebar-close {
    border: 0;
}

.course-overview-dialog .ui-dialog-titlebar-close:after {
    position: absolute;
    font-family: FontAwesome;
    font-size: 1.0em;
    top:8px;
    right:8px;
    content: "\f00d "; 
}

.block-course-overview .singleselect {
    margin-bottom: 10px;
}

a.favourite_icon:hover {
    text-decoration: none;
}

.block-course-overview .overview-help {
    margin-top: 10px;
}

.block-course-overview .overview-help i {
    font-size: 1.5em;
}


