{{!
    This file is part of Level Up XP+.

    Level Up XP+ is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Level Up XP+ is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Level Up XP+.  If not, see <https://www.gnu.org/licenses/>.

    https://levelup.plus
}}
{{!
    @template local_xp/leaderboard-not-participating

    Template leaderboard-not-participating

    Example context (json):
    {
    }
}}
<div class="xp-grow xp-flex xp-flex-col xp-items-center xp-justify-center xp-border-dashed xp-border-gray-200 xp-border-2 xp-rounded-lg xp-p-4 xp-py-6">
    <div class="xp-text-center">
        <h3 class="xp-mb-6">{{#str}} notparticipating, block_xp {{/str}}</h3>
        <p class="xp-m-0 xp-max-w-prose">
            {{#str}} onlyparticipantscanaccessranking, block_xp {{/str}}
        </p>
    </div>
    {{# showjoin }}
    <div class="xp-mt-6 xp-text-center last:[&_p]:xp-mb-0">
        <p>
            <button
                data-xp-action="open-form"
                data-form-class="local_xp\form\leaderboard_participation"
                data-form-args__contextid="{{ contextid }}"
                data-modal-buttons__save__label="{{# str }} join, block_xp {{/ str}}"
                data-modal-title="{{#str}} joinleaderboard, block_xp {{/str}}"
                data-modal-large="false"
                class="btn btn-secondary" {{^ canjoin }}disabled{{/ canjoin }}>{{#str}} join, block_xp {{/str}}</button>
        </p>
        {{^ canjoin }}
            {{# joindateformatted }}
                <p class="xp-text-sm xp-text-gray-500">{{#str}} canjoinfromdatex, block_xp, {{ joindateformatted }} {{/str}}</p>
            {{/ joindateformatted }}
        {{/ canjoin }}
    </div>
    {{/ showjoin }}
</div>
