{{=<% %>=}}
<style>
.mma-xp-level {
    display: inline-block;
    width: 100px;
}
.mma-xp-level .level {
    background-image: url(<%css.badges.level10%>);
    background-size: 100px 100px;
}
.mma-xp-level .level .level-nb {
    text-align: center;
    padding-top: 31px;
    height: 100px;
    font-size: 50px;
    color: #fff;
}

.mma-xp-level .level-1 {
    background-image: url(<%css.badges.level1%>);
}
.mma-xp-level .level-2 {
    background-image: url(<%css.badges.level2%>);
}
.mma-xp-level .level-3 {
    background-image: url(<%css.badges.level3%>);
}
.mma-xp-level .level-4 {
    background-image: url(<%css.badges.level4%>);
}
.mma-xp-level .level-5 {
    background-image: url(<%css.badges.level5%>);
}
.mma-xp-level .level-6 {
    background-image: url(<%css.badges.level6%>);
}
.mma-xp-level .level-7 {
    background-image: url(<%css.badges.level7%>);
}
.mma-xp-level .level-8 {
    background-image: url(<%css.badges.level8%>);
}
.mma-xp-level .level-9 {
    background-image: url(<%css.badges.level9%>);
}

.mma-xp-level .level-badge {
    background-image: none !important;
}
.mma-xp-level .level-badge img {
    max-width: 100%;
}

.mma-xp-level.small {
    width: 70px;
}
.mma-xp-level.small .level {
    background-size: 70px 70px;
}
.mma-xp-level.small .level .level-nb {
    height: 70px;
    padding-top: 21px;
    font-size: 38px;
}

.mma-xp-level.xsmall {
    width: 54px;
}
.mma-xp-level.xsmall .level {
    background-size: 54px 54px;
}
.mma-xp-level.xsmall .level .level-nb {
    height: 54px;
    padding-top: 12px;
    font-size: 28px;
}

.mma-xp-level-and-progress {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

.mma-xp-state .card img {
    width: auto;
}

.mma-xp-xp {
    display: inline-block;
}
.mma-xp-xp img {
    height: 18px;
    vertical-align: middle;
    display: inline;
    width: auto;
}
.mma-xp-xp .sign-as-super-script {
    vertical-align: super;
    font-size: x-small;
    line-height: 1px;
}

.mma-xp-progress progress {
    margin-bottom: 0;
    width: 100%;
}
.mma-xp-progress .togo {
    color: #9e9e9e;
    text-align: right;
    font-size: 85%;
}

.mma-xp-tabs-bar {
    background-color: #fff;
    position: relative;
}
.mma-xp-tabs-bar button {
    contain: none;
    min-height: 4.8rem;
}
.mma-xp-tabs-bar button[active] {
    border-bottom: 2px solid #41c2ff;
}
</style>
