{{=<% %>=}}
<div class="level level-<%level%> <%#badgeurl%>level-badge<%/badgeurl%>">
    <%#badgeurl%><img src="<% badgeurl %>" alt="<%#str%>levelx, block_xp, <% level %><%/str%>" core-external-content><%/badgeurl%>
    <%^badgeurl%><div class="level-nb"><% level %></div><%/badgeurl%>
</div>
