{{=<% %>=}}

<div class="mma-xp-progressbar" role="progressbar" aria-valuenow="<% percentagehuman %>" aria-valuemin="0" aria-valuemax="100">
    <div style="width: <% percentage %>%;" class="<%# nonzero %>nonzero<%/ nonzero %> <%# nonfull %>nonfull<%/ nonfull %>"></div>
</div>

