{{=<% %>=}}
<span class="mma-xp-xp">
    0<%^currency.signurl%><span class="<%#sign-as-super-script%>currency.usesignassuperscript<%/sign-as-super-script%>"><% currency.sign %></span><%/currency.signurl%>
    <%#currency.signurl%><span><img src="<% currency.signurl %>" alt="" core-external-content /></span><%/currency.signurl%>
</span>
