{{=<% %>=}}
<%#enabled%>
<div class="mma-xp-group-selector">
    <ion-list>
        <ion-item>
            <%^canswitch%>
                <%#usesvisiblegroups%>{{ 'core.groupsvisible' | translate }}<%/usesvisiblegroups%>
                <%#usesseparategroups%>{{ 'core.groupsseparate' | translate  }}<%/usesseparategroups%>
                <ion-note slot="end" style="font-size: initial;"><% groupname %></ion-note>
            <%/canswitch%>
            <%#canswitch%>
                <ion-label>
                    <%#usesvisiblegroups%>{{ 'core.groupsvisible' | translate  }}<%/usesvisiblegroups%>
                    <%#usesseparategroups%>{{ 'core.groupsseparate' | translate  }}<%/usesseparategroups%>
                </ion-label>
                <ion-select [(ngModel)]="CONTENT_OTHERDATA.groupid" (ionChange)="updateContent({courseid: <% courseid %>, groupid: CONTENT_OTHERDATA.groupid})">
                    <%#canseeallparticipants%>
                        <ion-select-option value="0">{{ 'core.allparticipants' | translate }}</ion-select-option>
                    <%/canseeallparticipants%>
                    <%#_firstseparator%><ion-select-option disabled>-</ion-select-option><%/_firstseparator%>
                    <%#mygroups%>
                        <ion-select-option value="<% id %>"><% name %></ion-select-option>
                    <%/mygroups%>
                    <%#_secondseparator%><ion-select-option disabled>-</ion-select-option><%/_secondseparator%>
                    <%#othergroups%>
                        <ion-select-option value="<% id %>"><% name %></ion-select-option>
                    <%/othergroups%>
                </ion-select>
            <%/canswitch%>
        </ion-item>
    </ion-list>
</div>
<%/enabled%>
