.assessments-item {
    text-align: center;
}

.assessments-item-icon {
    margin: 10px 0;
}

.assessments-item-count {
    color: #058;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.35px;
    margin-bottom: 8px;
}

.assessments-item-label {
    color: #058;
    font-size: 13px;
    line-height: 14.95px;
}

.block-region .assessments-item {
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block-region .assessments-item:last-child {
    border-bottom: 0;
}


/** Mobile-responsive CSS **/
@media (min-width: 576px) {
    .block-region .assessments-item {
        border-right: 1px solid #e1e6eb;
    }

    .block-region .assessments-item:nth-child(even) {
        border-right: 0;
    }

    .block-region .assessments-item:nth-child(3),
    .block-region .assessments-item:nth-child(4) {
        border-bottom: 0;
    }
}

@media (min-width: 768px) {
    .block-region .assessments-item {
        border-right: 1px solid #e1e6eb;
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .block-region .assessments-item:nth-child(even) {
        border-right: 1px solid #e1e6eb;
    }

    .block-region .assessments-item:last-child {
        border-right: 0;
    }
}

@media (min-width: 992px) {
    #block-region-side-pre.block-region .assessments-item {
        border-right: 1px solid #e1e6eb;
        border-bottom: 1px solid #e1e6eb;
        flex: 0 0 50%;
        max-width: 50%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #block-region-side-pre.block-region .assessments-item:nth-child(even) {
        border-right: 0;
    }

    #block-region-side-pre.block-region .assessments-item:nth-child(3),
    #block-region-side-pre.block-region .assessments-item:nth-child(4) {
        border-bottom: 0;
    }
}
