{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_newgu_spdetails/block

    This template should display a link through to the Student Dashboard.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<div class="blockquote text-center">
    <div id="assessmentSummaryContainer" class="align-middle"></div>

    <a id="student_dashboard" class="btn btn-primary" href="{{{ link }}}">
        {{# str }}clicktoview, block_newgu_spdetails{{/ str }}
    </a>

    {{#stafflink}}
    <a class="btn btn-primary" href="{{{ stafflink }}}">
        {{# str }}staffclicktoview, block_newgu_spdetails{{/ str }}
    </a>
    {{/stafflink}}
</div>
