/* stylelint-disable declaration-no-important  */
.qtype-kprime .kprimespecificfeedback {
    background: #fff3bf !important;
    color: #64450a;
    display: inline;
}
/* stylelint-enable declaration-no-important  */