
.form-container{
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 0 1em 0 0 ;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 1em 1em;
    padding-bottom: 0;
    max-width: 80%;
}
.form-container label{
    font-weight: bold;   
}

.new-grade-header{
    font-weight: bold;
}

.mform {
    border: 1px solid black;
    border-top: 0;
    border-radius: 0 0 1em 1em;
    padding: 0 1em;
    max-width: 80%;
}

.mform-container form {
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 0 1em;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-weight: bold;
    padding: 1em 0em;
    margin-left: 0;  
}

.mform-container label {
    font-weight: bold;
}

.mform-container select{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    max-width: 150px;
    padding: 0px 15px;
    font-size: 13px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border-radius: .5em;
    border: 1px solid #8c8c8c;
    -ms-word-break: normal;
    word-break: normal;
    outline: none;
}

.mform-container select::after {
    content: '\f078';
    font: normal normal normal 12px/1 FontAwesome;
    color: #005c8a;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 5% 8px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.form-inline .input-group, .form-inline .custom-select {
    width: 150px;
}

#fitem_id_submitbutton .btn{
     border-radius: .5em !important; 
     margin-left: auto;
}

.tablink {
    border-radius: .5em .5em 0 0 ;
    background-color: #c4c4c4;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: auto;
    font-weight: bold;
}

.tablink:hover {
    opacity: 0.8;
}

.tablink.active{
    background-color: #005c8a;
    color: white;
}