@import url("table-tabs.css");
@import url("mform-styles.css");
@import url("custom-select.css");

.gcat-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
}

/* Icons style */
td > i, th > i {
    color: #8c8c8c;
    cursor: pointer;
}

.fa-check-circle{
    font-size: 20px;
    color: #005c8a;
}

.fa-cog {
    color: white;
    margin: 0 5px;
    font-size: small;
    cursor: text;
}

.fa-times-circle{
    font-size: 20px;
}

.fa-ellipsis-h{
    font-size: 13px;
    margin-left: 2px;
}

/* Buttons style */
.btn-default {
    background-color: transparent;
    border: 1px solid #005c8a;
    color: #005c8a;
    border-radius: 8px;
    outline: none;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.btn-default:hover {
    opacity: .9;
    background-color: #005c8a;
    color: white;
}

.btn-add-import {
    background-color: #005c8a;
    color: white;
}

.btn-release {
    border: 1px solid #006630;
    background-color: #006630;
    color: white;
}

.btn-release:hover {
    background-color: #006630;
    color: white;
    opacity: 0.8;
}

.btn-download{
    margin-bottom: 1.5em;
}

.btn-download, .btn-release {
    float: right;
}

.btn-download, .btn-release, .btn-add-import,
.tabcontent-header >.selectdiv select {
    height: 40px;
}

#btn-finalrelease{
    border: 1px solid #006630;
    color: #006630;
    margin-right: 0.5em;
}

#btn-finalrelease:hover {
    background-color: #006630;
    color: white;
    opacity: 0.8;
}

#btn-release, #btn-saveadd, .togglemultigrd, .addnewgrade{
    display: none;
}

.tabcontent-header >.selectdiv{
    float: left;
}

/* Specific select style*/

.select-category, .select-category > select{
    height: 40px;
    margin: 15px 0;
}

.multi-select-reason{
    display: none;
    /* width: 100%; */
}

.multi-select-grade select, 
.multi-select-reason select{
    font-size: 12px;
}

.input-reason{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 32px;
    margin: auto;
    margin-top: 5px;
    padding: 0px 10px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border-radius: 10px;
    border: 1px solid #E0E2E9;
    -ms-word-break: normal;
    word-break: normal;
    outline: none;
    display: none;
    width: auto;
}

.addnewgrade{
    font-size: 12px;
}

/* display only the first select reason dropdown */
tbody > tr:first-child > td > .multi-select-reason {
    display: block;
}

/* Grade discrepancy style */
.grade-discrepancy{
    background-color: rgba(179, 12, 0, 0.49);
    border-radius: 8px;
    pointer-events: none;    
}

td > .grade-discrepancy{
    width: 40px;
    height: 32px;
    margin: auto;
    line-height: 32px;
}

.btn.grade-discrepancy{
    width: 110px;
    height: 40px;
    max-width: 124px;
    font-size: 11px;
    word-break: break-word;
    display: none;
    line-height: 11px;
}

/* Context-action style */
.dropdown-menu {
    font-size: 12px;
    padding: .2rem 0;
}

.dropdown-item {
    font-size: 11px;
    padding: .2rem;
    cursor: pointer;
}

/* Hide submit buttons */
#release-submit, #importgrades-submit, 
#resit-submit,#showhidegrade-submit,
#finalrelease-submit {
    position: absolute;
    visibility: hidden;
}

.hide-show-grade {
    display: none;
}
