#import-loading{
    display: none;
}

.overlay{
    opacity: 0.6;
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.import-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.import-content{
    position: absolute;
    width: 400px;
    height: 180px;
    z-index: 99999;
    text-align: center;
    padding: 20px;
}

/* Loading icon */
.spinner-box{
    margin: auto;
}

.pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #005c8a;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: .25;
        transform: scale(.75);
    }
}