
.mform-container label, .form-container label, .title, .col-form-label{
    font-weight: bold;
}

.form-container{
    padding: 1em 0 0;
}

.mform-container, .form-container{
    max-width: 80%;  
    padding-left: 1em;
}

.mform-container{
    position: relative;
}

.mform select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    max-width: 150px;
    padding: 0px 15px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border-radius: .5em;
    border: 1px solid #8c8c8c;
    -ms-word-break: normal;
    word-break: normal;
    outline: none;
}

.mform-custom-select > div.felement:after {
    content: '\f078';
    font: normal normal normal 12px/1 FontAwesome;
    color: #005c8a;
    left: 125px;
    top: 32%;
    height: 34px;
    padding: 0 8px;
    position: absolute;
    pointer-events: none;
}

.mform-grades {
    position: absolute;
    left: 45%;
    top: 0px;
    width: 85%;
}

.input-percent > div.felement:after {
    content: '\f295';
    font: normal normal normal 12px/1 FontAwesome;
    color: #005c8a;
    position: absolute;
    left: 62px;
    top: 38%;
    height: 34px;
    padding: 0 8px;
    pointer-events: none;
}

#totalweightnote{
    margin-top: -20px;
    color: #737373;
    font-size: 11px;
    font-style: italic;
}

.input-percent > div.felement.no-after:after {
    content: none;
}

.mform-override {
    color: #9393A0
}

.form-inline .input-group, .form-inline .custom-select {
    width: 150px;
}

#fitem_id_submitbutton .btn{
    border-radius: .5em;
    margin-left: auto;
    margin-right: 1em;
}

textarea#id_notes.form-control {
    width: 350px;
    height: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mform-grades {
        position: revert;
    }

    .input-percent > div.felement:after {
        left: calc(100% - 40px);
    }
}

.btn-coursegradeform > .form-inline > .btn{
    margin-left: auto !important;
    margin-right: 15px;
    color: #fff;
    background-color: #0f6fc5;
    border-color: #0f6fc5;
}