
.mform-container label, .form-container label, .title, .col-form-label{
    font-weight: bold;
}

.form-container{
    padding: 1em 0 0;
}

.mform-container, .form-container{
    max-width: 80%;  
    padding-left: 1em;
}

.mform-container{
    position: relative;
}

.mform select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: 100%;
    max-width: 150px;
    padding: 0px 15px;
    font-size: 13px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border-radius: .5em;
    border: 1px solid #8c8c8c;
    -ms-word-break: normal;
    word-break: normal;
    outline: none;
}

.mform select::after {
    content: '\f078';
    font: normal normal normal 12px/1 FontAwesome;
    color: #005c8a;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 5% 8px 0px 8px;
    position: absolute;
    pointer-events: none;
}

.mform-grades {
    position: absolute;
    left: 45%;
    top: -3%;
    width: 85%;
}

.input-percent > div.felement:after {
    content: '\f295';
    font: normal normal normal 12px/1 FontAwesome;
    color: #005c8a;
    position: absolute;
    left: 64px;
    top: 38%;
    height: 34px;
    padding: 0 8px;
    pointer-events: none;
}

.form-inline .input-group, .form-inline .custom-select {
    width: 150px;
}

#fitem_id_submitbutton .btn{
    border-radius: .5em;
    margin-left: auto;
    margin-right: 1em;
}

textarea#id_notes.form-control {
    width: 350px;
    height: 100px;
}

.btn.btn-secondary.fp-btn-choose{
    background: white;
    border-radius: 5px;
    border: 1px solid #000;
}

.mdl-left.w-100{
    border: 1px solid #000;
    max-width: 350px;
    padding: 0.5em;
    border-radius: 5px;
    max-height: 70px;
}

.mdl-left .filepicker-filelist{
    position: relative;
    border: none;
    margin: 0;
}

.filepicker-filename {
    margin-top: 0.5em;
}

.filepicker-filelist .filepicker-container, .filemanager.fm-noitems .fm-empty-container {
    border: none;
}

.dndupload-arrow, .dndupload-message {
    display: none;
}