{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_ehnace/elist

    This template renders the list of enhancements area for report_enhance

    Example context (json):
    {}
}}

<p>Got an idea for something that would make Moodle better? You can submit it to the VLE Enhancement Board for consideration. Projects that are approved will be added to Moodle in due course.</p>

<div class="form-group m-b-0">
    <ul class="nav nav-pills filter-list">
        <li class="nav-item">
            <a class="nav-link active" href="#" data-filter=".filter-all"><i class="fa fa-list"></i> All Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-filter=".filter-me"><i class="fa fa-user"></i> Submitted By Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-filter=".filter-status-7"><i class="fa fa-check-circle"></i> Completed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-filter=".filter-status-5, .filter-status-6"><i class="fa fa-gear"></i> In Development</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-filter=".filter-status-8"><i class="fa fa-thumbs-o-down"></i> Rejected</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-filter=".filter-status-2, .filter-status-3, filter-status-4"><i class="fa fa-gavel"></i> Under Review</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-filter=".filter-status-1"><i class="fa fa-star-o"></i> New</a>
        </li>
        <li class="">
            <label>Find ID</label>
            <input type="text" name="idfilter">
        </li>
    </ul>
</div>
</div>
</div>
<a href="{{ formurl }}" class="btn btn-success m-t-1"><i class="fa fa-plus-circle"></i> Submit a New request</a>
<div class="enhancement-list">
    {{# requests }}
        <div class="card m-t-1 filter-all {{ cardclasses }}">
            <div class="holder">
                <div class="status-icon status-{{ statuscolour }}">
                    <span class="statusidnumber">{{ id }}</span>
                    <span class="statusicon">
                        <i class="fa fa-{{ statusicon }}"></i>
                    </span>
                    <span class="statustext">{{ statusformatted }}</span>
                
                </div>
                <div class="status-description">
                    <h4 class="headline"><a href="{{{ more }}}">{{ headline }}</a></h4>
                    <p class="information">Submitted {{ timeago }} ago by {{username}} </p>
                    <div class="media-footer">
                        <ul class="enhancement-links">
                            <li><a href="{{{ more }}}"><i class="fa fa-info-circle"></i> More Information</a></li>
                            {{# allowedit }}
                            <li><a href="{{{ link }}}"><i class="fa fa-pencil"></i> Edit</a></li>
                            {{/ allowedit }}
                            {{# allowreview }}
                            <li><a href="{{{ review }}}"><i class="fa fa-list"></i> Review</a></li>
                            {{/ allowreview }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {{/ requests }}
</div>
<a href="{{ formurl }}" class="btn btn-success m-t-1 bottom-button"><i class="fa fa-plus-circle"></i> Submit a New request</a>
